{% extends "base2.html" %}
{% block title %}{{channel.name}}{% endblock %}
{% block content %}

<div class="container-fluid">
<h3 id="channelName">{{channel.name}}</h3>
<a href="#" class="label pull-right" id="leave">Leave channel</a><hr>




<div id="messages" style="border: 1px solid #e0e0e0; margin-bottom: 20px; height: 200px; padding: 5px; overflow-y: scroll;">
    {% if channel.messages %}
        {% for message in channel.messages %}
            {% include 'message.html' %}
        {% endfor %}
    {% endif %}
</div>
        
    <form id="messageForm" name="messageForm">
        <textarea type="text" id="message" class="span12" ></textarea><br>
    
        <input type="submit" value="Send" class="btn"/>
        <button id="btnClear" class="btn">Clear messages</button>
    </form>
</div>

{% endblock %}